<!DOCTYPE html>
<html>
  <head>
    <title>Mantenimiento de Alumnos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 18px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    </style>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="nav-link" href="/alumnos/alta">Alta de alumnos</a>
    <a class="nav-link" href="/alumnos/listado">Listado de Alumnos</a>
    <a class="nav-link" href="/alumnos/consulta">Consulta de Alumno</a>
    <a class="nav-link" href="/alumnos/modificacion">Modificacion</a>
    <a class="nav-link" href="/alumnos/listara">Listar alumnos de Batan</a>
    <a class="nav-link" href="/alumnos/listarb">Listar alumnos del 2002</a>
    <a class="nav-link" href="/alumnos/listarc">Listar alumnos de Batan y grupo sanguineo RH-</a>
    <a class="nav-link" href="/alumnos/listard">Listar alumnos ordenados por DNI ascendente</a>
    <a class="nav-link" href="/alumnos/listare">Listar alumnos que vivan en Av. J.B. Justo</a>
  </div>


  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>

  <br><br>
    {{{body}}}
  </body>
</html>
